$colorprimary: rgb(7, 180, 50);
$colorsecond: whitesmoke;

.navbar.navbar-expand-lg {
  background-color: $colorprimary;

  .container-fluid {
    justify-content: space-between;

    a {
      color: $colorsecond;
    }

    button {
      color: $colorprimary;
    }
  }
}

.nav-link.active-user, .nav-link.active-register {
  background-color: $colorprimary;
  color: $colorprimary;
}

@media (max-width: 991px) {
  .navbar.navbar-expand-lg {
    .container-fluid {
      a {
        .nav-link.active-register, .nav-link.active-user {
          background-color: $colorprimary;
          color: $colorprimary;
        }
      }
    }
  }
}
