<div class="container mt-5">
  <div class="card mb-3">
    <div class="card-body">
      <h3 class="card-title">Nueva Lista de Tareas</h3>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="newTaskListTitle" placeholder="Título de la nueva lista">
      </div>
      <button class="btn btn-primary mt-2" (click)="createTaskList()">Agregar Lista de Tareas</button>
    </div>
  </div>
  <div class="card mb-3" *ngFor="let taskList of taskLists">
    <div class="card-body">
      <h3 class="card-title">{{ taskList.title }}</h3>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="newTaskTitles[taskList.id]" placeholder="Nueva tarea">
      </div>
      <button class="btn btn-primary mt-2" (click)="createTask(taskList)">Agregar Tarea</button>
      <ul class="list-group mt-3">
        <li *ngFor="let task of taskList.tasks" class="list-group-item">{{ task.title }}</li>
      </ul>
    </div>
  </div>
</div>
