<div class="task-container">
    <!-- Input para agregar una nueva lista de tareas -->
    <input type="text" [(ngModel)]="newTaskListTitle" placeholder="Nueva lista de tareas">
    <button (click)="createTaskList()">Agregar Lista</button>
  
    <!-- Mostrar todas las listas de tareas del usuario -->
    <div *ngFor="let taskList of taskLists" class="task-list">
      <h3>{{ taskList.title }}</h3>
  
      <!-- Input para agregar una nueva tarea a esta lista -->
      <input type="text" [(ngModel)]="newTaskTitle" placeholder="Nueva tarea">
      <button (click)="createTask(taskList)">Agregar Tarea</button>
  
      <!-- Mostrar todas las tareas de esta lista -->
      <ul>
        <li *ngFor="let task of taskList.task">{{ task.title }}</li>
      </ul>
    </div>
  </div>
  