<div class="hero">
    <div class="hero__title">Welcome to Task Manager</div>
    <p class="hero__subtitle">Organize your tasks efficiently</p>
    <div class="hero__buttons">
        <a class="hero__button" href="/login">Login</a>
        <a class="hero__button hero__button--primary" href="/register">Register</a>
    </div>
    <div class="hero__animation">
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
    </div>
</div>