<div class="card" style="width: 18rem;">
    <div class="card-body">
        <i class="bi bi-person-fill-add"></i>
        <h5 class="card-title">Register</h5>

        <form (submit)="registerUser()">
            <div class="mb-3">
                <label  for="fullName" class="form-label">Full Name</label>
                <input  type="text" class="form-control" id="fullName" name="fullName" [(ngModel)]="user.name" required>
                <div *ngIf="is_empty && !user.name" class="alert alert-info" role="alert">
                    Please enter your full name.
                </div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email" required>
                <div *ngIf="is_empty && !user.email" class="alert alert-info" role="alert">
                    Please enter your Email.
                </div>
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password"
                    required>
                    <div *ngIf="is_empty && !user.password" class="alert alert-info" role="alert">
                        Please enter your Password.
                    </div>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
        <div *ngIf="is_error" class="alert alert-danger mt-3" role="alert">
            Error registering user. Please try again
        </div>
        <div *ngIf="is_empty && !user.name && !user.email && !user.password" class="alert alert-dark mt-3" role="alert">
            Error registering user, fields empty.Please try again
        </div>
        <div *ngIf="is_ok" class="alert alert-success mt-3" role="alert">
            User registered successfully.
            <a href="/login">Go to Login</a>
        </div>
    </div>
</div>